{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "always",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "checkIgnorePragma": true,
    "endOfLine": "lf",
    "experimentalOperatorPosition": "end",
    "experimentalTernaries": true,
    "importOrder": [
        "^[a-zA-Z0-9_./]+$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "jsxSingleQuote": false,
    "objectWrap": "collapse",
    "plugins": [
        "prettier-plugin-imports"
    ],
    "printWidth": 120,
    "quoteProps": "consistent",
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false,
    "vueIndentScriptAndStyle": true
}
